body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #434a54;
    background-color: #f5f7fa;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
img {
    max-width: 216px;
    max-height: 216px;
    margin-top: 20px;
   
    
}
.avatar{
    margin: 500px;
}